<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="../../../../assets/logor.png" alt="RentEaseLogo" [routerLink]="isLoggedIn ? null : '/home'" [class.disabled]="isLoggedIn">
    </div>
    <div class="menu">
      <ul class="menu-list">
        <li *ngIf="!isLoggedIn"><a href="#">Nosotros</a></li>
        <li *ngIf="!isLoggedIn"><a href="#">Equipo</a></li>
      </ul>
    </div>
    <div class="auth-buttons">
      <a *ngIf="!isLoggedIn" href="/log-rent" class="login-button">Login</a>
      <button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">Cerrar Sesión</button>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
      &#9776;
    </div>
  </div>
  <div class="mobile-menu" *ngIf="menuOpen">
    <ul>
      <li *ngIf="!isLoggedIn"><a href="#">Nosotros</a></li>
      <li *ngIf="!isLoggedIn"><a href="#">Equipo</a></li>
      <li *ngIf="!isLoggedIn"><a href="/log-rent">Login</a></li>
      <li *ngIf="isLoggedIn"><button (click)="logout()" class="logout-button">Cerrar Sesión</button></li>
    </ul>
  </div>
</nav>
