<section class="bg-light dark:bg-dark">
  <div class="container">
      <div class="form-container dark:border-dark">
          <div class="form-content">
              <h1 class="title">
                  Iniciar Sesión
              </h1>
              <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
                <div>
                  <label for="username" class="label dark:text-light">Usuario:</label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="input dark:input-dark"
                    placeholder="example"
                    formControlName="username"
                  />
                </div>
                <div>
                  <label for="password" class="label dark:text-light">Contraseña:</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="input dark:input-dark"
                    placeholder="••••"
                    formControlName="password"
                  />
                </div>
                <div class="flex-container">
                  <a href="#" id="forgotPassword" class="link dark:text-primary" (click)="onForgotPassword()">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="button">Login</button>
                <p class="text dark:text-muted">
                  Únete a nuestra familia aquí <a routerLink="/register-ret" id="signUp" class="link dark:text-primary">Registrarme</a>
                </p>
                <div id="errorMessage" class="error-message">{{ errorMessage }}</div>
              </form>
          </div>
      </div>
  </div>
</section>
